*{
	font-family: "Arial", monospace;
	font-size: 12px;
}

#p3{
	color: yellow;
}

h1{
	font-size: 30px;
}

#uch2{
	text-transform: uppercase;
}

li[style]{
	border: 1px solid green;
}

.languages{
	background-color: skyblue;
}
 img + ol{
 	list-style-type: none;
 }

 body img{
 	height: 80px;
 	width: 80px;
 	border-radius: 40px;
 }

 ol ~ p{
 	text-align: center;
 }

 section>ol>li{
 	letter-spacing: 8px;
 }